 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>My name is Kseniya Lifanova and I am a web developer, designer, and entrepreneur in Syracuse, NY. I co-founded <a href="http://upstate.agency" target="_blank">Upstate Interactive</a>, a boutique digital agency focusing in the Upstate New York region. In my previous life I worked in accounting and finance, but my real passion lies in designing and building beautiful websites. I am a problem solver by nature and enjoy the technical side of development, but I also have a creative side that I love to use in web design. I enjoy working directly with my clients and helping small businesses and non-profits improve their digital presence.</p>

                    <p>My skills : HTML | CSS | Javascript | jQuery | Wordpress | Node.js | Express.js | MongoDB | AngularJS | Photoshop | Illustrator </p>

                    <p>I am a co-founder of <a href="http://womenincoding.com/" target="_blank">Women in Coding</a>, a local group that provides resources and opportunities to those interested in learning to code in our community.</p> 

                    <p>I am a graduate of <a href="http://www.startfastcode.com/">StartFast Code</a>, a full stack programming bootcamp class in Syracuse.</p>


                    <div class="social-icons">
                        <a href="https://www.facebook.com/klifanova" target="_blank"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/kseniya292" target="_blank"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/kseniyah292/" target="_blank"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/kseniya-hogan-aa50b19" target="_blank"><i class="fa fa-linkedin social-icon" aria-hidden="true"></i></a>
                        <a href="https://github.com/kseniya292" target="_blank"><i class="fa fa-github social-icon" aria-hidden="true"></i></a>
                    </div>
                </div> <!--col-->
            </div> <!--row-->
        </div>
    </section>